:root {
    --font-main: "Signika", sans-serif;
    --font-header: var(--font-main);
    --color-bg: #ECECED;
    --color-text: #131114;
    --color-accent: #FAB72E;
    --color-accentdark: #CA952B; /* For link on white bg */
    
    /* Old purple colour */
    /*--color-overlay: #F7F0FB;
    --color-darkoverlay: #664B72;*/

    /* New blue colour */
    --color-overlay: #F9F9F9;
    --color-darkoverlay: #3B639F;
    --color-lightoverlay: #dde2e9;

    --color-textbg: #F9F9F9;

    --color-semitext: var(--color-color); /* sorta like text, but for bg */
    --color-semibg: var(--color-textbg); /* sorta like bg but for text */

    /* New book brown color */
    --font-main: "Montserrat";
    --color-bg: #FEFFF0;
    --color-darkoverlay: #7E5A1A;
    --color-overlay: #423723;
    --color-textbg: #FEFFF0;
    --color-softbg: #E8D7B5;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);

    //font-size: 1.125rem; /*18px with a standard 16px base font */ 
    // line-height: 1.5;

    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;

    @media (min-width: 1000px) {
        /* I'm sorry I just really like big text */
        font-size: 1.125rem; /* 20px */
    }
}

main {
    width: 92%;
    max-width: 1173px;
    margin: 42px auto 0 auto;

    @media (max-width: 720px) {
        margin-top: 40px;
    }
}

a {
    color:  var(--color-accentdark);
    text-decoration:  none;
}

p a {
    text-decoration:  underline;
}

p a:hover {
    text-decoration:  none;

}


h2 {
    line-height: 126%;
}

.site-header {
    box-sizing: border-box;
    max-width: 1173px;
    width: 90%;
    margin: 42px auto 0 auto;
    padding: 33px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    
    border-radius: 30px;

    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);

    color: var(--color-semibg);
    background-color: var(--color-darkoverlay);


    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }

    h1 {
        display: flex;
        align-items: center;

        font-family: var(--font-header);
        font-style: normal;
        font-weight: normal;
        font-size: 3.2rem;
        line-height: 94.5%;
        letter-spacing: 0.045em;

        margin: 0;

        @media (max-width: 900px) {
            justify-content: center;
            flex-wrap: wrap;
            font-size: 2.5rem;
        }


        img { 
            width: 127px; 
            height: 127px; 
            margin-right: 0.1em; 
        }
    }

    nav { display: flex; align-items: flex-end; }

    nav ul { 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;

        margin-bottom: 0;

        list-style: none;

        font-style: normal;
        font-weight: normal;
        font-size: 24px;

        li {
            margin: 0 0.2em;
        }

    }

    a {
        text-decoration: none;
        color: inherit;
        opacity:  0.7;
    }

    a.active {
        opacity: 1;
    }

    a:hover {
        border-bottom: solid 4px var(--color-accent);
        opacity:  1;
    }
}

.site-footer {
    max-width: 1100px;
    width: 90%;
    margin: 48px auto 0 auto;
    text-align:  center;
    border-radius: 30px;

    color: var(--color-semibg);
    background-color: var(--color-darkoverlay);


    padding: 1em 1em 1em 1em;
    
     p {
        margin: 0.1em 0;
     }

    .footer-links {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;

        & > * {
            margin: 0 0.5em;
            display:  flex;

            &::before {
                content: "|";
                margin-right: 1em;
            }

            &:first-child::before {
                content: none;
            }
        }
    }
}

.about {
    margin-top: 92px;
    padding: 0;

    @media (max-width: 720px) {
        margin-top: 40px;
    }

    h1 {
        font-size: 3rem;
        line-height: 125%;
        text-align: center;

        @media (max-width: 720px) {
            font-size: 2.4rem;
        }
    }

    .text {
        max-width: 800px;
        padding: 1em 3em;
        border-radius: 30px;
        margin: 0 auto;
        background-color: var(--color-textbg);

        @media (max-width: 720px) {
            padding: 1em 1.5em;
        }
    }
}

.homepage {
    display:  grid;
    grid-template-columns:  1fr 1fr;
    grid-gap:  1em;

    @media (max-width: 720px) {
        grid-template-columns:  1fr;
    }

    & > h1 {
        margin:  0;
        grid-column: 1 / -1;
        text-align:  center;

        font-size:  2.2rem;

        @media (max-width:  720px) {
            font-size:  1.8rem;
        }
    }

    .text {
        padding: 1em 3em;
        border-radius: 30px;
        margin: 0;  
        background-color: var(--color-textbg);

        @media (max-width: 720px) {
            padding: 1em 1.5em;
        }
    }
}

.listpage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.character-list {
    display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 0.5em;
    list-style: none;
    padding: 0;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        opacity: 0.8;

        &:hover { opacity: 1.0 }

        img {
            background-color: var(--color-textbg);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }

        span {
            margin-top: 7px;
            padding: 0.5em 0.6em;
            color: var(--color-text);
            line-height: 97.5%;
        }
    }
}

.lang-picker {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2rem;

    @media(max-width: 600px) {
        font-size: 1rem;
    }

    margin-top: 0;
    top: 0;
    position: sticky;
    z-index: 3;

    & > * {
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        background-color: var(--color-darkoverlay);
        border-bottom: solid 4px var(--color-darkoverlay);
        color: var(--color-semibg);

        text-align: center;
        padding: 0.4em 1em;

        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);

        &.active {
            border-color: var(--color-semibg);
        }

        &:hover {
            border-bottom: solid 4px var(--color-accent);
        }
    }
}

.error-page {
    text-align: center;
    margin-top: 50px;
}

.main-page {
    // The page showing a character/item's text
    display: grid;
    grid-template-columns: 376px 1fr;
    grid-gap: 42px;
    padding: 0 20px;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .sidebar {
        align-self: start; // Remove to extend to the bottom of page
        text-align: center;
        padding: 20px 35px;

        background-color: var(--color-textbg);
        // border-radius: 30px;        
    }
}

.dataline-card {
    clear: both;

    .header {
        font-size: 1.5rem;
        line-height: 30px;
        padding: 0.5em 1em;
        background-color: var(--color-overlay);
        color: var(--color-bg);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);

        position: relative;
        z-index: 2;
        margin-left: 12px;
        margin-right: 12px;

        display: flex;
        justify-content: space-between;

        cursor:  pointer;

        @media (max-width: 720px) {
            font-size: 1.2rem;
        }
    }

    .content {
        box-sizing: border-box;
        padding: 1.3em 2.2em 0.8em 2.2em;
        background-color: var(--color-textbg);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);

        white-space: pre-line;
        margin-top: -1em;
    }

    .subheader {
        display: inline-block;
        font-size: 1em;
        color: var(--color-semibg);
        background-color: var(--color-darkoverlay);
        border-radius: 10px;

        margin-top: 0;
        margin-left: 10%;
        margin-bottom: 0;
        padding: 18px 0.8em 0.5em 0.8em;

        position: relative;
        top: -10px;
    }
}


.datalines {
    & > * {
        margin-bottom: 20px;
    }
}