.character-main {
    display: grid;
    grid-template-columns: 376px 1fr;
    grid-gap: 42px;
    padding: 0 20px;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .sidebar {
        align-self: start;
        top: 0;

        background-color: var(--color-textbg);
        // border-radius: 30px;
        padding: 20px 35px;

        text-align: center;

        .character-name { margin: 0; text-align: left; }
        .character-title { margin-bottom: 0; margin-top: 0; text-align: left;}
        .character-name span {
            background: var(--color-semitext);
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // border-radius: 20px;

            font-size: 2rem;
            line-height: 100%;
            font-weight: normal;
            color: var(--color-text);  

            display: inline-block;
            // padding: 0.5em 0.6em;
            @media(max-width: 600px) {
                font-size: 24px;
            }
        }

        .character-title span {
            // background: var(--color-darkoverlay);
            color: var(--color-darkoverlay);
            border-radius: 10px;

            font-weight: 600;
            font-size: 24px;
            line-height: 100.5%;
            // max-width: 60%;

            display: inline-block;
            // padding: 0.5em 0.6em;

            @media(max-width: 600px) {
                font-size: 18px;
            }
        }

        .character-description {
            text-align: left;
            // padding: 0 2em;
        }

        a:hover {
            opacity: initial;
        }
    }
}

.page-nav {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;*/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * { margin: 0 10px; flex-basis: auto;}

    a:hover { opacity: initial; }

    .page-button {
        font-weight: 600;
        font-size: 24px;
        line-height: 149.5%;
        
        padding: 0.2em 1em;
        margin: 0.4em 0;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;

        background: #FAB72E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
    }

    .active .page-button {
        box-shadow: none;
        position: relative;
        cursor: initial;
        top: 4px;
    }

    .page-button:hover {
        box-shadow: none;
        position: relative;
        top: 4px;
    }
}

.talent {
    --talentimg-width: 100px;
    display:  grid;
    grid-template-columns: var(--talentimg-width) 1fr;
    grid-gap: 5px;

    margin-bottom: 20px;

    @media (max-width: 720px) {
        grid-template-columns: 80px 1fr;
        grid-gap: 5px;
    }

    .talent-img-container {
        align-self: center;
        width: 100%;
        height: var(--talentimg-width);
        background-color: #B1A58C;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 70%;
        }

        @media (max-width: 720px) {
            height: 80px;
        }
    }

    .talent-name {
        align-self: center;

        font-size: 1.5rem;
        font-weight: 500;
        color: var(--color-bg);
        background-color: var(--color-overlay);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
        border-radius: 10px;

        padding: 0.5em 1em;
        margin: 0 30px 0 30px;

        display: flex;
        justify-content: space-between;
        cursor:  pointer;

        @media (max-width: 720px) {
            font-size: 1.2rem;
        }
    }

    .talent-desc {
        grid-column: 1 / -1;

        box-sizing: border-box;
        border-radius: 30px;
        padding: 1.3em 2.2em;
        background-color: var(--color-textbg);

        white-space: pre-line;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}